In [1]:
# Importing necessary libraries
import pandas as pd

In [6]:
# Importing the salary data
df = pd.read_csv('C://Users//USER//Documents//Salaries.csv')

C:\Users\USER\AppData\Local\Temp\ipykernel_3008\2042873764.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C://Users//USER//Documents//Salaries.csv')

In [7]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
# check for missing values
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [15]:
# check the shape of the dataset
df.shape

(148049, 10)

In [11]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [12]:
# drop rows with missing values
df.drop(['Status','Notes','Benefits'],axis =1 , inplace =True)

In [13]:
df.dropna(inplace =True)

In [14]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,567595.43,567595.43,2011,San Francisco
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011,San Francisco
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,335279.91,335279.91,2011,San Francisco
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,332343.61,332343.61,2011,San Francisco
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,326373.19,326373.19,2011,San Francisco

#  Create Employee Function

In [19]:
def get_employee_details(employee_name):
    try:
        # Assuming the employee's name is unique in the dataset
        employee = df[df['EmployeeName'] == employee_name]
        if not employee.empty:
            return employee.to_dict(orient='records')[0]
        else:
            return "Employee not found."
    except Exception as e:
        return f"An error occurred: {e}"

# Example usage
print(get_employee_details('NATHANIEL FORD'))

{'Id': 1, 'EmployeeName': 'NATHANIEL FORD', 'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': 167411.18, 'OvertimePay': 0.0, 'OtherPay': 400184.25, 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011, 'Agency': 'San Francisco'}

# Data Processing with Dictionary

In [21]:
# Convert 'BasePay' to numeric, forcing errors to NaN
salary_data['BasePay'] = pd.to_numeric(salary_data['BasePay'], errors='coerce')

# Convert salary data to a dictionary
salary_dict = salary_data.to_dict(orient='records')

# Example of processing: Calculate average BasePay
average_base_pay = salary_data['BasePay'].mean()
print(f"Average BasePay: {average_base_pay}")

Average BasePay: 66325.4488404877

#  Error Handling

In [22]:
def get_employee_details(employee_name):
    try:
        # Assuming the employee's name is unique in the dataset
        employee = salary_data[salary_data['EmployeeName'] == employee_name]
        if not employee.empty:
            return employee.to_dict(orient='records')[0]
        else:
            return "Employee not found."
    except Exception as e:
        return f"An error occurred: {e}"

def safe_get_employee_details(employee_name):
    try:
        # Call the function to get employee details
        result = get_employee_details(employee_name)
        if isinstance(result, dict):
            return result
        else:
            # If the result is an error message or "Employee not found"
            return result
    except Exception as e:
        return f"An error occurred while fetching details: {e}"

# Example usage with error handling
print(safe_get_employee_details('NATHANIEL FORD'))

{'Id': 1, 'EmployeeName': 'NATHANIEL FORD', 'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': 167411.18, 'OvertimePay': 0.0, 'OtherPay': 400184.25, 'Benefits': nan, 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011, 'Notes': nan, 'Agency': 'San Francisco', 'Status': nan}

# Export Employee Details to CSV and Zip It

In [24]:
import pandas as pd
import os
import zipfile
import csv




def get_employee_details(employee_name):
    try:
        # Assuming the employee's name is unique in the dataset
        employee = df[df['EmployeeName'] == employee_name]
        if not employee.empty:
            return employee.to_dict(orient='records')[0]
        else:
            return "Employee not found."
    except Exception as e:
        return f"An error occurred: {e}"

def export_employee_to_csv(employee_name):
    try:
        employee = get_employee_details(employee_name)
        if isinstance(employee, dict):  
            # Define output directory and file
            output_dir = 'Employee Profile'
            os.makedirs(output_dir, exist_ok=True)
            output_file = os.path.join(output_dir, f"{employee_name}_details.csv")

            # Write to CSV
            with open(output_file, mode='w', newline='') as file:
                writer = csv.DictWriter(file, fieldnames=employee.keys())
                writer.writeheader()
                writer.writerow(employee)

            # Zip the file
            with zipfile.ZipFile(f"{output_dir}.zip", 'w') as zipf:
                zipf.write(output_file, os.path.basename(output_file))

            # Clean up CSV file
            os.remove(output_file)

            return f"Employee details exported and zipped successfully in {output_dir}.zip"
        else:
            return employee  # Error message from get_employee_details
    except Exception as e:
        return f"An error occurred: {e}"

# Example usage
print(export_employee_to_csv('NATHANIEL FORD'))

Employee details exported and zipped successfully in Employee Profile.zip